* {
    font-family: Calibri;
    font-weight: bold;
}
#top
{
    position: absolute;top:20px;left:370px;

    color: rgba(109, 47, 6, 0.671);
    font-family: monospace;
    font-size: 400%;
    font-weight: 900;
    text-align: center;
    letter-spacing: 20pt;
    word-spacing: 12pt;
    line-height: 0.8;
}
#inputcolor{
    position: absolute;  left:30px; top: 510px;
}
#fen{
    position: absolute;top:330px;left:10px;
}
#pencil{
    position: absolute;top:150px;left:20px;
}
#clear{
    position: absolute;top:150px;left:180px;
}
#undo{
    position: absolute;top:230px;left:45px;
}
#text{
    position: absolute;top:150px;left:260px;
}
#redo{
    position: absolute;top:230px;left:135px;
}
#eraser{
    position: absolute;top:150px;left:100px;
}
#fakepic{
    position: absolute;top:230px;left:225px;
}
#equilateral{
    position: absolute;top:400px;left:100px;
}
#ellipse{
    position: absolute;top:400px;left:180px;
}
#rectangle{
    position: absolute;top:400px;left:260px;
}
#line{
    position: absolute;top:400px;left:20px;
}
body {
    display: block;
    background-color: #F5F6F7;
    width: 100%;
    margin: 0;
}
#btn-download{
    position: absolute;  top:630px; left:90px;
    font-size: 200%;
}
header {
	display: inline-block;
}
#animal 
{ 
    position: absolute; width: 100%; height: 100%; 
    z-index: 1; 
    opacity: 1;
}
.setting-box{
    position: absolute;  left:100px; top: 510px;
}
#test2{
    position: absolute;
    z-index: 2;
}
canvas {
    position: absolute;  top:80px; left:370px;
}

p {
    position: absolute;
    width: 100%;
    color: rgba(19, 8, 4, 0.637);
    text-align: center;
    margin: 0;
    bottom: 0;
    background-color: rgb(220, 233, 245);
}
a {
    color: rgba(19, 8, 4, 0.637);
    background-color: rgba(220, 233, 245, 0.74);
}

hr {
    width: 65%;
    float: left;
    margin-left: 10px;
    height: 2px;
    background-color: black;
    border: 0px;
}

span {
    color: rgb(198, 184, 146);
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(78, 250, 26);
}


.color-box ul{
    padding: 0px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.tool-box ul li{
	float: left;
    display: block;
    padding: 10px;
}



.color-box ul li{
    float: left;
    display: block;
    padding: 4px;
}

.color-box ul li div{
    height: 20px;
    width: 20px;
}

.color-box-quick{
    height: 50px;
    width: 40px;
    float: left;
    margin: 15px 10px;
    outline: 2px solid white;
}

.color-box ul li div{
    outline: 2px solid white;
}

.color-box-quick:hover, .color-box ul li div:hover, .color-box .active{
    outline: 2px solid grey;
}
.custom-select { 
    padding: 0; 
    margin: 2px; 
    line-height: 1.7em; 
    /*font-size: 12px;*/ 
    cursor: pointer; 
    position: relative; 
    display: inline-block; 
    background: #fff; 
    background-image: linear-gradient(#fff,#f5f5f5 49%,#eaeaea 50%, #f2f2f2); 
    /*border: 1px solid #ccc;*/ 
    border-radius: 4px; 
    text-shadow: 0 1px 1px rgba(255,255,255,0.5); 
    box-shadow: 0 1px 3px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,0.7), inset 0 1px 2px rgba(255,255,255,0.5); 
   }
#inputcolor{
    margin: 12px 10px 0px 5px;
    height: 48px;
}

#rangeThickness{
    width: 150px;
    margin: 12px 0px;
}


.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    text-shadow: 18px 12px 6px #666666;
    font-family: Courier New;
    color: #f20505;
    font-size: 42px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: absolute;
    top: 75%;
    left: 35%;
  }
  
  .btn:hover {
    background: #3cfc7f;
    background-image: -webkit-linear-gradient(top, #3cfc7f, #9cd934);
    background-image: -moz-linear-gradient(top, #3cfc7f, #9cd934);
    background-image: -ms-linear-gradient(top, #3cfc7f, #9cd934);
    background-image: -o-linear-gradient(top, #3cfc7f, #9cd934);
    background-image: linear-gradient(to bottom, #3cfc7f, #9cd934);
    text-decoration: none;
  }